.first {
	position: relative;
	left: 35%;
	top: 0%;
	width: 100%;
	height: 20%;
	background: white;
	margin: 0px;
}

.Freedom {
	padding-left: 10px;
}

.second {
	position: relative;
	right: 30%;
	top: 0%;
	width: 100%;
	height: 20%;
	background: white;
	margin: 0px;
}

.I {
	padding-left: 925px;
}

.third {
	position: relative;
	left: 35%;
	top: 0%;
	width: 100%;
	height: 20%;
	background: white;
	margin: 0px;
}

.Tire {
	padding-left: 10px;
}

.Seed {
	padding-left: 925px;
}


.fourth {
	position: relative;
	right: 30%;
	top: 0%;
	width: 100%;
	height: 20%;
	background: white;
	margin: 0px;
}

body {
	background: black;
}