body {
	background: linear-gradient(90deg, rgba(15,32,59,1) 0%, rgba(76,79,83,1) 85%, rgba(129,132,138,1) 100%);
}

h1#one {
	font-size: 290%;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	position: absolute;
	left: 30%;
	top: 35%;
		-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
h1#two {
	font-size: 290%;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	position: absolute;
	left: 33%;
	top: 45%;
	-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
a {
	color: grey;
	text-decoration: none;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a:hover {
	color: white;
	opacity: 1.0;
}

h1#three {
	font-size: 190%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	right: 2%;
	top: 65%;
		-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
h1#four {
	font-size: 230%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	right: 2%;
	top: 75%;
	-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
h1#five {
	font-size: 240%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	right: 2%;
	top: 82%;
			-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
h1#six {
	font-size: 220%;
	color: grey;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 10%;
		-webkit-animation: fadein 2s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h1#seven {
	font-size: 240%;
	color: grey;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 17%;
		-webkit-animation: fadein 5s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}