body {
	background: linear-gradient(90deg, rgba(15,32,59,1) 0%, rgba(76,79,83,1) 85%, rgba(129,132,138,1) 100%);
}
a {
	color: grey;
	text-decoration: none;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a:hover {
	color: white;
	opacity: 1.0;
}
h1#four {
	font-size: 290%;
	color: grey;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 60%;
	-webkit-animation: fadein 2s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h1#five {
	font-size: 310%;
	color: grey;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 68%;
	-webkit-animation: fadein 5s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h1#two {
	font-size: 230%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	right: 2%;
	top: 8%;
		-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
h1#three {
	font-size: 240%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	right: 2%;
	top: 15%;
	-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}