body {
	background: linear-gradient(90deg, rgba(76,79,83,1) 0%, rgba(129,132,138,1) 50%, rgba(179,182,187,1) 100%);
}

h1#one {
	font-size: 190%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 10%;
	-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
h1#two {
	font-size: 200%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 20%;
-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}	
h1#five {
	font-size: 180%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 65%;
-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
h1#six {
	font-size: 200%;
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	position: absolute;
	left: 2%;
	top: 75%;
-webkit-animation: fadeout 3s;
	 animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    from { opacity: 0.3; }
    to   { opacity: 0; }
}
a {
	color: white;
	text-decoration: none;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a:hover {
	color: black;
	opacity: 1.0;
}

h1#three {
	font-size: 280%;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	position: absolute;
	left: 31%;
	top: 35%;
	-webkit-animation: fadein 2s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h1#four {
	font-size: 280%;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	position: absolute;
	left: 33%;
	top: 45%;
	-webkit-animation: fadein 6s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}