body {
	background-color: #ffffe6;
}
.Freedom {
	position: fixed;
	left: 32%;
	top: 10%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	font-size: 100px;
	-webkit-animation: 2s ease-in 1s forwards running slidein;
	animation-delay: 0s;
}

@-webkit-keyframes slidein {
    from {
        left: -200%;
    }
    to { 
        left: 22%;
    }
}

.Will {
	float: left;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	left: 0%;
	top: 200%;
	font-size: 10px;
}

.Today {
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	top: 800%;
	left: 0%;
	top: 204%;
	font-size: 15px;
}

.Nor {
	float: left;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	left: 0%;
	top: 207%;
	font-size: 22px;
}

.Through {
	float: left;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	left: 0%;
	top: 211%;
	font-size: 25px;
}
.I {
	float: left;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	left: 0%;
	top: 220%;
	font-size: 25px;
}
.As {
	float: left;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	left: 0%;
	top: 228%;
	font-size: 22px;
}
.To {
	float: left;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	left: 0%;
	top: 235%;
	font-size: 15px;
}
.And {
	float: left;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	left: 0%;
	top: 240.5%;
	font-size: 10px;
}
.Tire {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 240.5%;
	text-align: right;
	font-size: 10px;
}
.Let {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 244.5%;
	text-align: right;
	font-size: 15px;
}
.Tomorrow {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 249%;
	text-align: right;
	font-size: 18px;
}
.Dead {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 254%;
	text-align: right;
	font-size: 22px;
}
.Bread {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 258%;
	text-align: right;
	font-size: 25px;
}
.Seed {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 267.5%;
	text-align: right;
	font-size: 22px;
}
.Need {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 275%;
	text-align: right;
	font-size: 15px;
}
.Live {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	right: 0%;
	top: 281%;
	text-align: right;
	font-size: 10px;
}
.Want {
	float: right;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	top: 285%;
	right: 0%;
	text-align: right;
	font-size: 15px;
}
.Just {
	float: middle;
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	top: 294%;
	right: 0%;
	text-align: center;
	font-size: 25px;
}

a{
	font-family: Georgia;
	font-size: 10px;
	color: #b3b3b3;
	opacity: .55;
	padding: 0px;
}

a:hover {
	color: grey;
	background-color: #ffffe6;
	opacity: 1.0;
	padding-top: -10px;
}

#Nxt {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}

#Home {
	position: fixed;
	right: 100px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}