.Freedom {
	float: left;
	position: sticky;
	left: 0%;
	top: 0%;
}

.Will {
	float: left;
	position: sticky;
	left: 5%;
	top: 5%;
}

.Today {
	float: left;
	position: sticky;
	left: 10%;
	top: 10%;
}

.Nor {
	float: left;
	position: sticky;
	left: 15%;
	top: 15%;
}

.Through {
	float: left;
	position: sticky;
	left: 20%;
	top: 20%;
}
.I {
	float: left;
	position: sticky;
	left: 25%;
	top: 25%;
}
.As {
	float: left;
	position: sticky;
	left: 30%;
	top: 30%;
}
.To {
	float: left;
	position: sticky;
	left: 35%;
	top: 35%;
}
.And {
	float: left;
	position: sticky;
	left: 40%;
	top: 40%;
}
.Tire {
	float: left;
	position: sticky;
	left: 45%;
	top: 45%;
}
.Let {
	float: left;
	position: sticky;
	left: 50%;
	top: 50%;
}
.Tomorrow {
	float: left;
	position: sticky;
	left: 55%;
	top: 55%;
}
.Dead {
	float: left;
	position: sticky;
	left: 60%;
	top: 60%;
}
.Bread {
	float: left;
	position: sticky;
	left: 65%;
	top: 65%;
}
.Seed {
	float: left;
	position: sticky;
	left: 70%;
	top: 70%;
}
.Need {
	float: left;
	position: sticky;
	left: 75%;
	top: 75%;
}
.Live {
	float: left;
	position: sticky;
	left: 78%;
	top: 80%;
}
.Want {
	float: left;
	position: sticky;
	left: 85%;
	top: 80%;
}
.Just {
	float: left;
	position: sticky;
	left: 90%;
	top: 90%;
}

a{
	font-family: Georgia;
	font-size: 10px;
	color: #b3b3b3;
	opacity: .55;
	padding: 0px;
}

a:hover {
	color: grey;
	background-color: #ffffe6;
	opacity: 1.0;
	padding-top: -10px;
}

#Nxt {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}

#Home {
	position: fixed;
	right: 100px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}

