p {
	font-size: 20px;
	color: white;
	opacity: 0.1;
	margin-top: 5px;
	position: absolute;
	top: 0;
	left: 0px;
	text-align: justify;
}

body {
	background: black;
}

.Freedom {
	position: absolute;
	left: 23%;
	top: -10%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

h1 {
	color: white;
	font-size: 100px;
	text-align: center;
}

.first {
	position: absolute;
	left: 23%;
	top: 13%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

.second {
	position: absolute;
	left: 23%;
	top: 31%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

.third {
	position: absolute;
	left: 23%;
	top: 49%;
	width: 52%;
	height: 15%;
	margin: 0px;
}
.fourth {
	position: absolute;
	left: 23%;
	top: 67%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

.fifth {
	position: absolute;
	left: 23%;
	top: 85%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

h3 {
	font-family: Georgia;
	font-style: italic;
	font-size: 22px;
	padding-top: 2px;
	text-align: center;
	color: white;
}

h2 {
	font-family: Georgia;
	font-style: italic;
	font-size: 30px;
	padding-top: 2px;
	text-align: center;
	color: white;
}