p {
	font-size: 20px;
	color: white;
	opacity: 0.1;
	margin-top: 5px;
	position: absolute;
	top: 0;
	left: 0px;
	text-align: justify;
}

body {
	background: black;
}

.Freedom {
	position: absolute;
	left: 23%;
	top: 0%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

h2 {
	color: white;
	font-size: 120px;
	text-align: center;
}

.first {
	position: absolute;
	left: 23%;
	top: 13%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

.second {
	position: absolute;
	left: 23%;
	top: 31%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

.third {
	position: absolute;
	left: 23%;
	top: 49%;
	width: 52%;
	height: 15%;
	margin: 0px;
}
.fourth {
	position: absolute;
	left: 23%;
	top: 67%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

.fifth {
	position: absolute;
	left: 23%;
	top: 85%;
	width: 52%;
	height: 15%;
	margin: 0px;
}

h4 {
	font-family: Georgia;
	font-style: italic;
	font-size: 22px;
	padding-top: 2px;
	text-align: center;
	color: white;
}

h3 {
	font-family: Georgia;
	font-style: italic;
	font-size: 30px;
	padding-top: 2px;
	text-align: center;
	color: white;
}

a{
	font-family: Georgia;
	font-size: 10px;
	color: #b3b3b3;
	opacity: .55;
	padding: 0px;
}

a:hover {
	color: grey;
	background-color: #ffffe6;
	opacity: 1.0;
	padding-top: -10px;
}

#Nxt {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}

#Home {
	position: fixed;
	right: 100px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}