body {
	background-color: black;
}

.container {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	height: 110%;
	width: 300px;
	background-color: #ffffe6;
}

.container p {
	font-size: 180px;
	transform: rotate(-90deg);
	color: black;
	font-family: Georgia;
	position: relative;
	top: 350px;
	left: 0px;
	white-space: nowrap;
}

h2 {
	font-size:25px;
	transform: rotate(-90deg);
	color: grey;
	font-family: Georgia;
	font-style: bold;
	position: relative;
	top: -220px;
	left: 90px;
}

p {
	font-size: 20.6px;
	color: grey;
	opacity: 0.15;
	margin-top: 5px;
	position: absolute;
	top: 0;
	left: 20px;
	text-align: justify;
}

#lvl1 {
	position: absolute;
	right: 0px;
	top: 40px;
	height: 100px;
	width: 400px;
	background-color: #ffffe6;
	text-decoration: none;
}

#lvl2 {
	position: absolute;
	right: 0px;
	top: 190px;
	height: 100px;
	width: 400px;
	background-color: #ffffe6;
	text-decoration: none;
}
#lvl3 {
	position: absolute;
	right: 0px;
	top: 340px;
	height: 100px;
	width: 400px;
	background-color: #ffffe6;
	text-decoration: none;
}
#lvl4 {
	position: absolute;
	right: 0px;
	top: 490px;
	height: 100px;
	width: 400px;
	background-color: #ffffe6;
	text-decoration: none;
}
#lvl5 {
	position: absolute;
	right: 0px;
	top: 640px;
	height: 100px;
	width: 400px;
	background-color: #ffffe6;
	text-decoration: none;
}

a {
	font-family: Georgia;
	font-size: 26px;
	color: #b3b3b3;
	opacity: .55;
	padding: 15px;
}

a:hover {
	color: grey;
	background-color: #ffffe6;
	opacity: 1.0;
	padding: 10px;
}

#Home {
	position: absolute;
	left: 90px;
	top: 750px;
	height: 30px;
	width: 100px;
	background-color: #ffffe6;
	text-decoration: none;
	font-size: 12px;
}