body {
background-color: black;
}

.Freedom {
	position: absolute;
	top: 0%;
	left: 40%;
	font-family: Georgia;
	text-align: center;
	font-size: 80px;
	color: white;
}

.first {
	position: absolute;
	left: 0%;
	top: 22%;
	width: 52%;
	height: 15%;
	background: white;
	margin: 0px;
}

.second {
	position: absolute;
	left: 15%;
	top: 40%;
	width: 52%;
	height: 15%;
	background: white;
	margin: 0px;
}

.third {
	position: absolute;
	left: 30%;
	top: 58%;
	width: 52%;
	height: 15%;
	background: white;
	margin: 0px;
}
.fourth {
	position: absolute;
	left: 45%;
	top: 76%;
	width: 52%;
	height: 15%;
	background: white;
	margin: 0px;
}

.fifth {
	position: absolute;
	left: 60%;
	top: 94%;
	width: 52%;
	height: 15%;
	background: white;
	margin: 0px;
}

h2 {
	font-family: Georgia;
	font-style: italic;
	font-size: 22px;
	padding-top: 20px;
	text-align: center;
}

a{
	font-family: Georgia;
	font-size: 10px;
	color: #b3b3b3;
	opacity: .55;
	padding: 0px;
}

a:hover {
	color: grey;
	background-color: #ffffe6;
	opacity: 1.0;
	padding-top: -10px;
}

#Nxt {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}

#Home {
	position: fixed;
	right: 100px;
	top: 0px;
	height: 40px;
	width: 90px;
	background-color: black;
	text-decoration: none;
	text-align: center;
}
